@font-face{
	font-family: Lib;
	src: url('fonts/suit.TTF');
}
@font-face{
    font-family: zekt;
    src: url('fonts/zekton rg.ttf');
}
body{
	overflow-x: hidden;
}
#ds2{
	width: 90px;
	height: 90px;
	position:absolute;
	right: 35px;
	top: 380px;
	transform: rotate3d(0,0,1,45deg) skew(15deg,15deg);  
    background-color: #6ADEFF;
	z-index: 2;
}
#ds2:hover{  
    background-color: #B0FFFF;
}
#ds4{
	width: 170px;
	height: 170px;
	position:absolute;
	right: -100px;
	top: 430px;
	transform: rotate3d(0,0,1,45deg) skew(15deg,15deg);  
    background-color: #2EA2C3;
	z-index: 2;
}
#ds4:hover{
	background-color: #88FCFF;
}
#divCover{
    background-color: #87AFC7;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 70px;
 	z-index: -2;
}
#ds5{
	width: 0px;
	height: 0px;
	border-top: 250px solid transparent;
	border-left: 150px solid #77BFC7;
	border-bottom: 250px solid transparent;
    position: absolute;
	left: 0px;
	top: 785px;
}
#ds5:hover{
	border-left: 150px solid #8EEBEC;
}
#ds6{
	width: 150px;
	height: 150px;
	position:absolute;
	left: 80px;
	top: 1100px;
	transform: rotate3d(0,0,1,45deg) skew(15deg,15deg);  
    background-color: #9AFEFF;
}
#ds6:hover{
    background-color: #D6FFFF;
}
#topNav{
	background-color: #B3B2B0;
	position: absolute;
	top: 0px;
	left: 60px;
	width: 100%;
	height: 70px;
 	z-index: -1;
}
#topNav a{
	float: left;
	color: #FFFFFF;
	padding: 15px 18px;
	font-family: Lib, Helvetica;
	font-size: 32px;
	text-decoration: none;
}
#topNav a:nth-child(1){
	color: #FFFFFF;
	padding: 15px 18px;
	font-family: zekt, Helvetica;
	font-size: 34px;
	text-decoration: none;
	width: 160px;
	background-color: #87AFC7;
	height: 40px;
}
#topNav a:nth-child(2){
	float: left;
	color: #FFFFFF;
	padding: 15px 18px;
	font-family: Lib, Helvetica;
	font-size: 32px;
	background-color: grey;
	height: 40px;
	text-decoration: none;
}
#topNav a:nth-child(1):hover{
	text-shadow: 0 0 20px #E0FFFF, 0 0 25px #FFFFFF, 0 0 5px #43BFC7;
	background-color: #87AFC7;
}
#topNav a:hover{
    height: 40px;
	background-color: grey;
	text-decoration: none;
}
#sideNav{
	position: absolute;
	top: 70px;
	left: -34px;
	width: 290px;
	height: 700px;
 	z-index: 3;
}
#sideNav a{
	display: block;
	float: left;
	color: #6495ED;
	padding: 0px 55px;
	font-family: Lib, Helvetica;
	font-size: 24px;
	width: 180px;
	text-decoration: none;
}
#sideNav a:hover{
	background-color: #6495ED;
	color: #FFFFFF;
}
#sideNav a:nth-child(1){
	display: block;
	color: #4863A0;
	padding: 0px 55px;
	font-family: Lib, Helvetica;
	font-size: 26px;
	font-weight: bold;
	text-decoration: none;
}
#sideNav a:nth-child(1):hover{
	background-color: #4863A0;
	color: #FFFFFF;
}
#sideNav a:nth-child(5){
	display: block;
	color: #4863A0;
	padding: 0px 55px;
	font-family: Lib, Helvetica;
	font-size: 26px;
	font-weight: bold;
	text-decoration: none;
}
#sideNav a:nth-child(5):hover{
	background-color: #4863A0;
	color: #FFFFFF;
}
#sideNav a:nth-child(12){
	display: block;
	color: #4863A0;
	padding: 0px 55px;
	font-family: Lib, Helvetica;
	font-size: 26px;
	font-weight: bold;
	text-decoration: none;
}
#sideNav a:nth-child(12):hover{
	background-color: #4863A0;
	color: #FFFFFF;
}
#content{
	left: 256px;
	position: absolute;
	top: 50px;
	width: 100% - (256px);
	height: 100%;
	z-index: 3;
}
#content h1{
	text-align: center;
	color: #566D7E;
	height: 20px;
	font-family: Lib, Helvetica;
	font-size: 48px;
	font-weight: bold;
	text-decoration: none;
}
#hisDef{
	text-indent: 50px;
	text-align: justify;
	color: #FFFFFF;
	font-family: Lib, Helvetica;
	font-size: 28px;
	text-decoration: none;
	background-color: #2E4556;
	padding: 20px 20px 20px 20px;
}
#birth{
	color: #566D7E;
	height: 30px;
	font-family: Lib, Helvetica;
	font-size: 36px;
	text-decoration: none;
	font-weight: bold;
	text-align: left;
}
#timOp{
	color: #FFFFFF;
	height: 20px;
	font-family: Lib, Helvetica;
	font-size: 32px;
	text-decoration: none;
	text-align: left;
	position: relative;
	top: -40px;
	background-color: #889FB0;
	padding: 20px 20px 40px 20px;
}
#timBer{
	position: relative;
	left: 0px;
	height: 250px;
	width: 230px;
}
#timPar{
	position: relative;
	top: -60px;
	text-indent: 50px;
	text-align: justify;
	color: #4C6374;
	font-family: Lib, Helvetica;
	font-size: 26px;
	text-decoration: none;
	padding: 0px 20px 20px 20px;
}
footer{
	opacity: 0;
}