@font-face{
	font-family: Lib;
	src: url('fonts/suit.TTF');
}
@font-face{
    font-family: zekt;
    src: url('fonts/zekton rg.ttf');
}
body{
	overflow-x: hidden;
}
#ds2{
	width: 90px;
	height: 90px;
	position:absolute;
	right: 35px;
	top: 380px;
	transform: rotate3d(0,0,1,45deg) skew(15deg,15deg);  
    background-color: #6ADEFF;
}
#ds3{
	width: 90px;
	height: 90px;
	position:absolute;
	right: -20px;
	top: 290px;
	transform: rotate3d(0,0,1,45deg) skew(15deg,15deg);  
    background-color: #9AFEFF;
	z-index: 2;
}
#ds4{
	width: 170px;
	height: 170px;
	position:absolute;
	right: -100px;
	top: 430px;
	transform: rotate3d(0,0,1,45deg) skew(15deg,15deg);  
    background-color: #2EA2C3;
}
#divCover{
    background-color: #87AFC7;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 70px;
 	z-index: -2;
}
#ds5{
	width: 0px;
	height: 0px;
	border-top: 250px solid transparent;
	border-left: 150px solid #77BFC7;
	border-bottom: 250px solid transparent;
    position: absolute;
	left: 0px;
	top: 785px;
}
#ds5:hover{
	border-left: 150px solid #8EEBEC;
}
#ds6{
	width: 150px;
	height: 150px;
	position:absolute;
	left: 80px;
	top: 1100px;
	transform: rotate3d(0,0,1,45deg) skew(15deg,15deg);  
    background-color: #9AFEFF;
}
#ds6:hover{
    background-color: #D6FFFF;
}
#topNav{
	background-color: #B3B2B0;
	position: absolute;
	display: inline-block;
	top: 0px;
	left: 60px;
	width: 100%;
	height: 70px;
}
#topNav a{
	float: left;
	color: #FFFFFF;
	padding: 15px 18px;
	font-family: Lib, Helvetica;
	font-size: 32px;
	text-decoration: none;
}
#topNav a:nth-child(1){
	color: #FFFFFF;
	padding: 15px 18px;
	font-family: zekt, Helvetica;
	font-size: 34px;
	text-decoration: none;
	width: 160px;
	background-color: #87AFC7;
	height: 40px;
}
#topNav a:nth-child(2){
	float: left;
	color: #FFFFFF;
	padding: 15px 18px;
	font-family: Lib, Helvetica;
	font-size: 32px;
	background-color: grey;
	height: 40px;
	text-decoration: none;
}
#topNav a:nth-child(1):hover{
	text-shadow: 0 0 20px #E0FFFF, 0 0 25px #FFFFFF, 0 0 5px #43BFC7;
	background-color: #87AFC7;
}
#topNav a:hover{
    height: 40px;
	background-color: grey;
	text-decoration: none;
}
#sideNav{
	position: absolute;
	top: 70px;
	left: -34px;
	width: 290px;
	height: 700px;
 	z-index: 3;
}
#sideNav a{
	display: block;
	float: left;
	color: #6495ED;
	padding: 0px 55px;
	font-family: Lib, Helvetica;
	font-size: 24px;
	width: 180px;
	text-decoration: none;
}
#sideNav a:hover{
	background-color: #6495ED;
	color: #FFFFFF;
}
#sideNav a:nth-child(1){
	display: block;
	color: #4863A0;
	padding: 0px 55px;
	font-family: Lib, Helvetica;
	font-size: 26px;
	font-weight: bold;
	text-decoration: none;
}
#sideNav a:nth-child(1):hover{
	background-color: #4863A0;
	color: #FFFFFF;
}
#sideNav a:nth-child(6){
	display: block;
	color: #4863A0;
	padding: 0px 55px;
	font-family: Lib, Helvetica;
	font-size: 26px;
	font-weight: bold;
	text-decoration: none;
}
#sideNav a:nth-child(6):hover{
	background-color: #4863A0;
	color: #FFFFFF;
}
#sideNav a:nth-child(11){
	display: block;
	color: #4863A0;
	padding: 0px 55px;
	font-family: Lib, Helvetica;
	font-size: 26px;
	font-weight: bold;
	text-decoration: none;
}
#sideNav a:nth-child(11):hover{
	background-color: #4863A0;
	color: #FFFFFF;
}
#sideNav a:nth-child(14){
	display: block;
	color: #4863A0;
	padding: 0px 55px;
	font-family: Lib, Helvetica;
	font-size: 26px;
	font-weight: bold;
	text-decoration: none;
}
#sideNav a:nth-child(14):hover{
	background-color: #4863A0;
	color: #FFFFFF;
}
#upMe{
	position: fixed;
	bottom: 5px;
	right: 0px;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 40px solid #87AFC7;
	opacity: 0.6;
	z-index: 99;
}
#upMe:hover{
	border-bottom: 40px solid #57FEFF;
	opacity: 0.8;
	z-index: 99;
}
#content{
	margin-left: 256px;
	position: absolute;
	margin-top: 5%;
	width: 60%;
	height: 100%;
}
#content h1{
	text-align: center;
	color: #566D7E;
	height: 20px;
	font-family: Lib, Helvetica;
	font-size: 48px;
	font-weight: bold;
	text-decoration: none;
}
#css{
	color: #566D7E;
	font-family: Lib, Helvetica;
	font-size: 24px;
	text-decoration: none;
	padding-right: 40px;
}
#authContain{
	width: 100%;
	left: 0px;
	position: absolute;
}
#authors{
	text-align: left;
	color: #FFFFFF;
	font-family: Lib, Helvetica;
	font-size: 26px;
	text-decoration: none;
	background-color: #59B0A8;
	padding: 20px 20px 20px 20px;
	position: relative;
}
footer{
	opacity: 0;
}