@font-face{
	font-family: Lib;
	src: url('fonts/suit.TTF');
}
@font-face{
	font-family: Zek;
	src: url('fonts/zekton rg.ttf');
}
body{
	overflow-x: hidden;
}
:root{
    --font-color: #616D7E;
    --bg-color: #FFFFFF;
}
#ds1{
	width: 150px;
	height: 150px;
	position: absolute;
	left: -78px;
	top: -130px;
	transform: rotate3d(0,0,1,45deg) skew(15deg,15deg);  
    background-color: #000080;
	z-index: 2;
}
#ds1:hover{
        width: 150px;
	height: 150px;
	position: absolute;
	left: -78px;
	top: -130px;
	transform: rotate3d(0,0,1,45deg) skew(15deg,15deg);  
    background-color: #0041C2;
}
#ds2{
	width: 180px;
	height: 180px;
	position:absolute;
	left: 24px;
	top: -35px;
	transform: rotate3d(0,0,1,45deg) skew(15deg,15deg);  
    background-color: #4863A0; 
	z-index: 3;
}
#ds2:hover{
    width: 180px;
	height: 180px;
	position: absolute;
	left: 24px;
	top: -35px;
	transform: rotate3d(0,0,1,45deg) skew(15deg,15deg);  
    background-color: #728FCE;
}
#ds3{
	width: 60px;
	height: 60px;
	position: absolute;
	left: -14px;
	top: 85px;
	transform: rotate3d(0,0,1,45deg) skew(15deg,15deg);  
    background-color: #151B54;  
	z-index: 4;
}
#ds3:hover{
	width: 60px;
	height: 60px;
	position: absolute;
	left: -14px;
	top: 85px;
	transform: rotate3d(0,0,1,45deg) skew(15deg,15deg);  
    background-color: #95B9C7;
}
#divCover{
    background-color: #B3B2B0;
	position: absolute;
	top: 18px;
	left: 50px;
	width: 100%;
	height: 70px;
 	z-index: -2;
}
#logo{
	width: 140px;
	height: 140px;
	position: absolute;
	left: 35px;
	top: -12px;
	z-index: 9;
}
#topNav{
	background-color: #B3B2B0;
	position: absolute;
	top: 18px;
	left: 210px;
	width: 100%;
	height: 70px;
 	z-index: 6;
	overflow: hidden;
}
#topNav a{
	float: left;
	color: white;
	padding: 15px 18px;
	font-family: Lib, Helvetica;
	font-size: 32px;
	text-decoration: none;
}
#topNav a:hover{
    height: 40px;
	background-color: grey;
}
#on{
    height: 40px;
	background-color: grey;
}
#label a{
	float: left;
	color: #FFFFFF;
	padding: 15px 18px;
	font-family: Zek, Helvetica;
	font-size: 18px;
	text-decoration: none;
	position: absolute;
	left: 56px;
	top: 84px;
	z-index: 7;
}
#sideOpenerA{
	position: fixed;
	background-color: #77BFC7;
	border-radius: 5px;
	width: 50px;
	height: 100px;
	top: 40%;
	left: 0px;
	cursor: pointer;
	z-index: 10;
}
#sideOpenerA p{
	color: white;
	padding-left: 10px;
	font-family: Lib, Helvetica;
	font-size: 31px;
	text-decoration: none;
	z-index: 10;
}
#sideOpener{
	position: fixed;
	background-color: #77BFC7;
	border-radius: 5px;
	width: 50px;
	height: 100px;
	top: 40%;
	left: -290px;
	cursor: pointer;
}
#sideOpener p{
	color: white;
	padding-left: 10px;
	font-family: Lib, Helvetica;
	font-size: 31px;
	text-decoration: none;
	z-index: 10;
}
#sideNav{
	width: 300px;
	height: 68px;
	top: 0px;
	left: -300px;
	position: fixed;
	background-color: #63ABB3;
	z-index: 11;
}
#sideNav a{
	float: right;
	color: white;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 5px;
	font-family: Lib, Helvetica;
	font-size: 32px;
	text-decoration: none;
}
#sideNav a:hover{
	text-decoration: underline;
}
#bottomNav{
	width: 300px;
	height: 100%;
	top: 68px;
	left: -300px;
	position: fixed;
	background-color: #77BFC7;
	z-index: 11;
}
#bottomNav a:first-child{
	float: left;
	width: 100%;
	color: white;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 5px;
	font-family: Lib, Helvetica;
	font-size: 36px;
	text-decoration: none;
}
#bottomNav a{
	float: left;
	width: 100%;
	color: white;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 5px;
	font-family: Lib, Helvetica;
	font-size: 28px;
	text-decoration: none;
}
#bottomNav a:hover{
	background-color: #6DB5BD;
	width: 290px;
}
#content{
	height: 2000px;
	width: 100%;
	position: absolute;
	top: 90px;
	left: 0px;
	z-index: -1;
}
#content img{
	display: block;
    margin-left: auto;
    margin-right: auto;	
}
#jserv{
	height: 70px;
	width: 96px;
	position: relative;
	top: -30px;
}
#cup{
	height: 200px;
	width: 150px;
	position: relative;
	top: 90px;
	z-index: -2;
}
.title{
	text-align: center;
	color: var(--font-color);
	font-family: Lib, Helvetica;
	font-size: 57px;
	font-weight: bold;
	position: relative;
}
#up{
	top: -10px;
}
#ups{
	top: -30px;
}
#above{
	top: -50px;
}
.definition{
	text-align: justify;
	color: var(--font-color);
	font-family: Lib, Helvetica;
	font-size: 28px;
	position: relative;
	padding-left: 100px;
	padding-right: 100px;
	top: 20px;
}
.definition2{
	text-align: justify;
	color: var(--font-color);
	font-family: Lib, Helvetica;
	font-size: 28px;
	position: relative;
	padding-left: 100px;
	padding-right: 100px;
	top: -10px;
}
.miniTitle{
	text-align: left;
	color: var(--font-color);
	font-family: Lib, Helvetica;
	font-size: 42px;
	font-weight: bold;
	position: relative;
	padding-left: 100px;
	padding-right: 100px;
	top: 50px;
}
.miniTitle2{
	text-align: center;
	color: var(--font-color);
	font-family: Lib, Helvetica;
	font-size: 58px;
	font-weight: bold;
	position: relative;
	top: 50px;
}
.down{
	position: relative;
	top: 40px;
}
#downs{
	top: 40px;
}
#types{
	position: relative;
	text-align: center;
}
#integer{
	position: relative;
	height: 200px;
	width: 200px;
	background-color: #98AFC7;
	border-radius: 50%;
	top: -140px;
	left: 90px;
	display: inline-block;
}
#integer:hover{
	transform: scale(1.3);
	z-index: 100;
}
#integer p{
	text-align: center;
	color: #FFFFFF;
	font-family: Lib, Helvetica;
	font-size: 48px;
	padding-top: 25px; 
}
#double{
	position: relative;
	height: 300px;
	width: 300px;
	background-color: #4863A0;
	border-radius: 50%;
	top: 20px;
	left: 50px;
	display: inline-block;
}
#double:hover{
	transform: scale(1.3);
	z-index: 100;
}
#double p{
	text-align: center;
	color: #FFFFFF;
	font-family: Lib, Helvetica;
	font-size: 67px;
	padding-top: 45px; 
}
#null{
	position: relative;
	height: 120px;
	width: 120px;
	background-color: #2A4582;
	border-radius: 50%;
	top: -200px;
	left: -220px;
	display: inline-block;
}
#null p{
	text-align: center;
	color: #FFFFFF;
	font-family: Lib, Helvetica;
	font-size: 40px;
}
#null:hover{
	transform: scale(1.3);
	z-index: 100;
}
#boolean{
	position: relative;
	height: 210px;
	width: 210px;
	background-color: #7A95D2;
	border-radius: 50%;
	top: 40px;
	left: -40px;
	display: inline-block;
}
#boolean p{
	text-align: center;
	color: #FFFFFF;
	font-family: Lib, Helvetica;
	font-size: 42px;
	padding-top: 40px; 
}
#boolean:hover{
	transform: scale(1.3);
	z-index: 100;
}
#string{
	position: relative;
	height: 180px;
	width: 180px;
	background-color: #141D5A;
	border-radius: 50%;
	top: -145px;
	left: -335px;
	display: inline-block;
}
#string p{
	text-align: center;
	color: #FFFFFF;
	font-family: Lib, Helvetica;
	font-size: 36px;
	padding-top: 30px; 
}
#string:hover{
	transform: scale(1.3);
	z-index: 100;
}
#array{
	position: relative;
	height: 240px;
	width: 240px;
	background-color: #505996;
	border-radius: 50%;
	top: -80px;
	left: -260px;
	display: inline-block;
}
#array p{
	text-align: center;
	color: #FFFFFF;
	font-family: Lib, Helvetica;
	font-size: 57px;
	padding-top: 30px; 
}
#array:hover{
	transform: scale(1.3);
	z-index: 100;
}
.sampleCode{
	background-color: #EFEEEC;
	border-left: 5px solid #98AFC7;
	width: calc(100% - 200px);
	position: relative;
	top: 0px;
	left: 100px;
}
.code{
    color: #7A91A9;
    text-align: left;
	font-family: monospace;
    font-size: 20px;
	padding: 20px;
}
.miniTitle3{
	text-align: left;
	color: var(--font-color);
	font-family: Lib, Helvetica;
	font-size: 36px;
	font-weight: bold;
	position: relative;
	left: 100px;
}
.miniTitle4{
	text-align: left;
	color: var(--font-color);
	font-family: Lib, Helvetica;
	font-size: 34px;
	font-weight: bold;
	position: relative;
	left: 100px;
	top: 10px
}
#noSpace{
	top: -20px;
}
#noSpaces{
	top: -10px;
}
#noSpacess{
	top: -20px;
}
#downss{
	top: 20px;
}
#upsss{
	top: -30px;
}
#downup{
	top: 30px;
}
#tops{
	top: 15px;
}
#topss{
	top: 20px;
}
#topsss{
	top: 25px;
}
#java{
	height: 180px;
	width: 180px;
	position: relative;
	top: 50px;
}
.miniTitle8{
	text-align: left;
	color: var(--font-color);
	font-family: Lib, Helvetica;
	font-size: 36px;
	font-weight: bold;
	position: relative;
	left: 100px;
	top: 10px
}
#foot{
	height: 200px;
	width: 100%;
	position: relative;
	left: 0px;
	top: 100px;
	background-color: #726E6D;
	overflow: hidden;
}
#footCenter{
	position: relative;
	width: 800px;
	margin: 0 auto;
}
#footlogo{
	width: 180px;
	height: 180px;
	position: absolute;
	left: 10px;
	top: 0px;
	z-index: 9;
}
#footlabel a{
	float: left;
	color: #FFFFFF;
	padding: 15px 18px;
	font-family: Zek, Helvetica;
	font-size: 18px;
	text-decoration: none;
	position: absolute;
	left: 50px;
	top: 130px;
	z-index: 7;
}
#footcontent a{
	float: left;
	color: #FFFFFF;
	padding: 15px 18px;
	font-family: Zek, Helvetica;
	font-size: 29px;
	font-weight: bold;
	text-decoration: none;
	position: absolute;
	left: 190px;
	top: 10px;
	z-index: 7;
}
#footcontents{
	float: left;
	color: #FFFFFF;
	padding: 15px 18px;
	font-family: Zek, Helvetica;
	font-size: 18px;
	text-decoration: none;
	position: absolute;
	width: 380px;
	height: 200px;
	left: 190px;
	top: 28px;
	z-index: 7;
}
#footEnd{
	float: left;
	color: #FFFFFF;
	padding: 15px 18px;
	font-family: Zek, Helvetica;
	font-size: 18px;
	text-decoration: none;
	position: absolute;
	top: 100px;
	left: 190px;
	width: 200px;
	z-index: 7;
}
#footNav{
	position: absolute;
	width: 68px;
	top: 48px;
	left: 650px;
}
#navigation{
	position: absolute;
	top: -12px;
	left: 650px;
	float: left;
	color: white;
	padding-right: 20px;
	font-family: Zek, Helvetica;
	font-size: 28px;
	text-decoration: none;
}
#footNav a{
	float: left;
	color: white;
	padding-right: 20px;
	font-family: Lib, Helvetica;
	font-size: 26px;
	text-decoration: none;
}
#footNav a:hover{
	font-weight: bold;
}
#nightButton{
	position: fixed;
	background-color: #151B54;
	border-radius: 5px;
	width: 50px;
	height: 100px;
	bottom: 60px;
	right: -1px;
	cursor: pointer;
	z-index: 10;
}
#nightButton p{
	color: white;
	padding-left: 6px;
	font-family: Lib, Helvetica;
	font-size: 31px;
	text-decoration: none;
	z-index: 10;
}
#resources{
	position: fixed;
	background-color: #157DEC;
	border-radius: 5px;
	width: 50px;
	height: 100px;
	bottom: 140px;
	right: -1px;
	cursor: pointer;
	z-index: 10;
}
#resources p{
	color: white;
	padding-left: 6px;
	font-family: Lib, Helvetica;
	font-size: 31px;
	text-decoration: none;
	z-index: 10;
}
#sidebits{
	position: fixed;
	background-color: #157DEC;
	border-radius: 5px;
	width: 800px;
	height: 100%;
	top: 0px;
	right: -800px;
	z-index: 96;
}
#resourcescloser{
	position: fixed;
	background-color: #157DEC;
	border-radius: 5px;
	width: 50px;
	height: 100px;
	bottom: 140px;
	right: -795px;
	cursor: pointer;
	z-index: 97;
}
#resourcescloser p{
	color: white;
	padding-left: 6px;
	font-family: Lib, Helvetica;
	font-size: 31px;
	text-decoration: none;
	z-index: 10;
}
#bitslabel{
	text-align: center;
	font-family: Lib, Helvetica;
	font-size: 42px;
	text-decoration: none;
	color: #FFFFFF;
}
#bitscomment{
	text-align: center;
	font-family: Lib, Helvetica;
	font-size: 32px;
	text-decoration: none;
	color: #FFFFFF;
}