#comparison {
    font-family: Arial;
    border-collapse: collapse;
    width: 100%;
}

#comparison td, #comparison th {
    border: 1px solid #blue;
    padding: 8px;
}

#comparison tr:nth-child(even){background-color: red;}

#comparison tr:hover {background-color: blue;}

#comparison th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: pink;
    color: white;
}